<section>
    <div class="container mt-5">
    <form action="" method="" style="left: 98% margin-top 36px" ></form>
    <div class="row">
        <div class="col-md-6 ml-4">
            <h2 class="text-center" style="margin-left: -437px margin-bottom: revert">Enter Delivery Detalis</h2>
           
                <div style="margin-left: -104px">
                <label for="">Address</label>
                <input type="text" name="Address" class="form-control">

                <label for="">Pincode</label>
                <input type="number" name="Pincode" class="form-control">

                <label for="">Mobile</label>
                <input type="number" name="number" class="form-control">
                </div>
                </div>
                <div class="col-md-4" style=" max-width: max-content" >
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount:Rs.{{total}}</h5>
                        <hr>
                        <div class="payment">
                             <p>Paymnet method</p>
                             <label class="radio-inline">
                                 <input type="radio" name="payment-method" value="COD">COD
                             </label>
                              <label class="radio-inline mt-2">
                                 <input type="radio" name="payment-method" value="ONLINE">Onlien payment
                             </label>
                             <button class="btn btn-primary float-right" type="sumbit">Checkout</button>
                        </div>
                    </div>

                </div>
           
                
        </div>
        
     </form>
    </div>
</section>
<style>
    input[type=radio]{
        width: 20px;
        height: 20px;
    }
    label.radio-inline{
        display: flex;
        align-items: center;

    }.checkout{
        border: 1px solid;
        border-radius: 3px;
        padding: 30px;
    }.payment{
        padding-bottom: 16px;
    }
</style>